<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Qantas Coding Challenge</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/tree-control.css"/>
    <link rel="stylesheet" href="css/tree-control-attribute.css"/>
    <link rel="stylesheet" href="lib/angular-block-ui-master/dist/angular-block-ui.css"/>

</head>
<body ng-app="qantas-app">
<div class="container">
    <h1>Welcome to the Qantas Code Challenge</h1>
    <div ng-controller="qantasCtrl" ng-cloak class="ng-cloak">
        <p>
            This challenge has been completed using the following API Stack.
        <ul>
            <li><a href="https://angular.io/">[AngularJS 1.5.5] - Client side JS Library</a></li>
            <li><a href="http://angular-block-ui.nullest.com">[Angular Block UI] - Block UI Angular JS Library</a></li>
            <li><a href="https://github.com/wix/angular-tree-control">[Angular Tree Control] - Client side Angular Tree
                JS
                Library</a>
            </li>
            <li><a href="https://angular.io/">[Bootstrap 3.3.6] - Bootstrap CSS</a></li>
            <li><a href="https://maven.apache.org/">[Maven] - Dependency Management</a></li>
            <li><a href="https://projects.spring.io/spring-boot/">[Spring Boot 1.5.2.RELEASE]</a></li>
            <li><a href="https://projectlombok.org/">[Lombok 1.16.18]</a></li>
            <li><a href="https://jsoup.org/">[JSoup 1.9.1] - HTML parsing</a></li>
            <li><a href="https://swagger.io/">[Swagger 2.2.2] - RESTFull end point documentation tool</a></li>
            <li><a href="http://www.ehcache.org/">[ehcache] - Cache used to store traversed URL'S</a></li>
        </ul>

        </p>
        <p>
            For simplicity reasons I have bundled the static content i.e. client in the resources/static folder of the
            SpringBoot App. <br/>
            In the real world CLIENT and SERVER would be decoupled unless we were dealing with legacy Spring
            MVC/JSF/Strut based applications.
        </p>
        <p>The following is a Bootstrap Tree view of the data returned by the web crawler</p>
        <p>Please note that many pages have multiple instances of the same link for e.g. links contained in a footer and
            a header</p>
        <p>The web crawler will display all occurrences of these links, however only the first occurrence will allow the
            user to drill down if that link has child links.</p>
        <p>In addition the web crawler uses ehCache to keep a record of the links traversed. In the event that there is
            a circular reference, i.e. a child page has a link back to the parent page, then the web-crawler will
            display the link
            but will not allow you to drill down further</p>

        <div style="margin-bottom: 10px;">

            URL : <input style="width: 500px;" type="url" data-ng-model="url"/> <br/>
            Allow external crawling : <input type="radio" name="externalCrawling" data-ng-model="externalCrawling"
                                             value="true">Yes</input>
            <input type="radio" name="externalCrawling" data-ng-model="externalCrawling" value="false">No</input>

        </div>

        <br/>
        <input type="button" data-ng-click="fetchNodes()" value="Display Tree"/>


        <treecontrol class="tree-light"
                     tree-model="treeModel"
                     on-node-toggle="fetchChildNodes(node, expanded)"
                     options="treeOptions"
                     data-ng-if="treeModel.length > 0">
            {{node.name}}
        </treecontrol>
    </div>
</div>
<script src="lib/angular-1.5.5/angular.js"></script>
<script src="lib/angular-1.5.5/angular-animate.js"></script>
<script src="lib/angular-1.5.5/angular-touch.js"></script>
<script src="lib/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="lib/angular-tree-control.js"></script>
<script src="lib/angular-block-ui-master/dist/angular-block-ui.js"></script>
<script src="js/app.js"></script>

</body>
</html>